name: flutter_rust_bridge_demo
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.4.1 <4.0.0'

dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.6
  rust_lib_deserialize_demo:
    path: rust_builder
  flutter_rust_bridge: 2.0.0-dev.37
  dio: ^5.4.3+1
  camera: ^0.11.0+1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0
  integration_test:
    sdk: flutter

flutter:

  uses-material-design: true
